
<div class="container">
  <div ng-hide="$root.client.torrents.length != 0" style="vertical-align: middle; text-align: center">
    <div class="row">
      <form class="no-margin" ng-submit="addMagnet()">
        <label>Cole o magnet link, hash ou .torrent http(s)</label>
        <input type="text" placeholder="magnet, hash ou .torrent http(s)" ng-model="torrentInput" ng-disabled="$root.disabled" style="width: 50%"/>
      </form>
      <!--button(ng-click="addMagnet()" ng-disabled="!torrentInput.length || $root.disabled" ng-class="{"button-primary": torrentInput.length}")
      i.fa.fa-download
      |  Baixar
      -->
    </div>
    <div class="row">
      <label>ou...</label>
      <button type="file" ngf-select="$root.openTorrentFile($file)" ng-disabled="$root.disabled" ng-class="{'button-primary': !$root.disabled}"><i class="fa fa-folder-open"></i> Abrir arquivo torrent</button>
    </div>
  </div>
  <div class="div" ng-if="selectedTorrent" style="text-align: center">
    <div class="four columns" style="overflow: auto">
      <h4>Informa&ccedil;&atilde;o</h4>
      <table class="u-full-width">
        <tbody>
          <tr>
            <td>Nome</td>
            <td>{{$root.selectedTorrent.name}}</td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>{{$root.selectedTorrent.length | pbytes}}</td>
          </tr>
          <tr>
            <td>Progresso</td>
            <td>{{$root.selectedTorrent.progress | progress}} ({{$root.selectedTorrent.downloaded | pbytes}})</td>
          </tr>
          <tr>
            <td>Peers</td>
            <td>{{$root.selectedTorrent.numPeers}}</td>
          </tr>
          <tr>
            <td>↓ Velocidade</td>
            <td>{{$root.selectedTorrent.downloadSpeed | pbytes:1}}</td>
          </tr>
          <tr>
            <td>Restante</td>
            <td>{{$root.selectedTorrent.timeRemaining | humanTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="four columns">
      <h4>Arquivos</h4>
      <table class="u-full-width" style="margin: auto">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Prioridade</th>
          </tr>
        </thead>
        <tbody>
          <tr class="files" ng-repeat="file in $root.selectedTorrent.files">
            <td ng-hide="file.done">{{file.name}}</td>
            <td ng-show="file.done"><a ng-href="{{file.url}}" download="{{file.name}}" target="_self" ng-show="file.done">{{file.name}}</a></td>
            <td>{{file.length | pbytes}}</td>
            <td>
              <select class="no-margin" name="{{file.name}}Priority" ng-model="file.priority" ng-init="file.priority = '0'" ng-change="$root.changePriority(file)">
                <option value="1">Alta Prioridade</option>
                <option value="0" selected="">Baixa Prioridade</option>
                <option value="-1">N&atilde;o baixar</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <h5>↑ Clique em um arquivo para baix&aacute;-lo</h5>
    </div>
    <div class="four columns">
      <h4>Compartilhar</h4>
      <ul style="text-align: justify">
        <li><a ng-href="#{{$root.selectedTorrent.infoHash}}" target="_blank">Link βTorrent</a></li>
        <li><a ng-href="{{$root.selectedTorrent.magnetURI}}" target="_blank">Magnet URI</a></li>
        <li><a ng-href="{{$root.selectedTorrent.safeTorrentFileURL}}" target="_self" download="{{$root.selectedTorrent.fileName}}">arquivo .torrent</a></li>
        <li><strong>Hash: </strong>{{$root.selectedTorrent.infoHash}}</li>
      </ul>
    </div>
  </div>
</div>
